:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 430;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: calc(430 * var(--rpx));
  height: calc(629 * var(--rpx));
  margin: 0 auto;
  background: #000000;
  overflow: hidden;
}

.back {
  position: absolute;
  width: calc(20 * var(--rpx));
  height: calc(20 * var(--rpx));
  top: calc(20 * var(--rpx));
  left: calc(35 * var(--rpx));
  background: url(../assets/images/80c6e76d-d2e0-4f0a-bb6e-2865912be671.png) no-repeat center;
  transform: translate(-50%, -50%) rotate(270deg);
  background-size: 100% 100%;
  z-index: 1;
}


.arrow {
  position: relative;
  width: calc(1 * var(--rpx));
  height: calc(1.288947260036366e-8 * var(--rpx));
  margin: calc(40 * var(--rpx)) 0 0 calc(30 * var(--rpx));
  background: url(../assets/images/18f4997a-83ae-49a0-bc3b-f0e040467dfb.png)
    no-repeat center;
  background-size: cover;
}
.swap {
  display: block;
  position: relative;
  height: calc(33 * var(--rpx));
  margin: calc(29.999999987110527 * var(--rpx)) 0 0 calc(30 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(25 * var(--rpx));
  font-weight: 700;
  line-height: calc(32.63999938964844 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.rectangle {
  position: relative;
  width: calc(380 * var(--rpx));
  height: calc(100 * var(--rpx));
  margin: calc(33 * var(--rpx)) 0 0 calc(25 * var(--rpx));
  background: #212121;
  z-index: 2;
  overflow: visible auto;
}
.flex-row-bc {
  position: relative;
  width: calc(330 * var(--rpx));
  height: calc(33 * var(--rpx));
  margin: calc(10 * var(--rpx)) 0 0 calc(20 * var(--rpx));
  z-index: 7;
}
.balance {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: calc(25 * var(--rpx));
  top: 0;
  left: calc(251 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 500;
  line-height: calc(25 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.send {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: calc(30 * var(--rpx));
  top: calc(3 * var(--rpx));
  left: 0;
  color: #717171;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 500;
  line-height: calc(30 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.flex-row-eb {
  position: relative;
  width: calc(330 * var(--rpx));
  height: calc(25 * var(--rpx));
  margin: calc(2 * var(--rpx)) 0 0 calc(20 * var(--rpx));
  z-index: 10;
}
.picture-eth-png {
  position: absolute;
  top: 0;
  right: calc(305 * var(--rpx));
  bottom: 0;
  left: 0;
  background: url(../assets/images/df512e4c-ccce-4542-96a8-e590a4aa3a04.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
  border-radius: calc(17 * var(--rpx));
}
.eth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: calc(3 * var(--rpx));
  left: calc(30 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.zero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(20 * var(--rpx));
  top: calc(3 * var(--rpx));
  left: calc(319 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.rectangle-1 {
  position: relative;
  width: calc(380 * var(--rpx));
  height: calc(100 * var(--rpx));
  margin: calc(20 * var(--rpx)) 0 0 calc(25 * var(--rpx));
  font-size: 0px;
  background: #212121;
  z-index: 3;
  overflow: visible auto;
}
.receive {
  display: block;
  position: relative;
  height: calc(30 * var(--rpx));
  margin: calc(13 * var(--rpx)) 0 0 calc(20 * var(--rpx));
  color: #717171;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 500;
  line-height: calc(30 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.flex-row-da {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(329 * var(--rpx));
  height: calc(30 * var(--rpx));
  margin: calc(7 * var(--rpx)) 0 0 calc(21 * var(--rpx));
  z-index: 11;
}
.select {
  flex-shrink: 0;
  position: relative;
  height: calc(30 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 500;
  line-height: calc(30 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.zero-2 {
  flex-shrink: 0;
  position: relative;
  height: calc(20 * var(--rpx));
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 600;
  line-height: calc(19.503999710083008 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
